// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.text-box{
	width: 100%;
	height: 300px;
	margin-bottom: 8px;
}

.form-styling{
	margin-top: 20px;
	margin-bottom: 20px;
}

.loading-txt{
	color: red;
}

.main-header a:hover{
	text-decoration: none;
}

.main-header a{
	color: black;
}